.grid-container{
    position: relative;
    display:grid;
    justify-content: center;
    text-align: center;
    background:linear-gradient(180deg,black,rgb(180, 180, 233));
    height: 300px;
    width: 350px;
    position: absolute;
    flex-direction: column;
    top: 250px;
    left: 450px;
    border:1px solid pink;
    border-radius: 10px;
    justify-content: space-between;
    padding:20px 15px 20px 15px;
    background-image:url('https://media3.giphy.com/media/3o7TKoWXm3okO1kgHC/200w.webp?cid=ecf05e47g28ldp9abhj6ezsjm2ld8482frrlqrsjc5ucr4sd&ep=v1_gifs_search&rid=200w.webp&ct=g');
    background-repeat:no-repeat;   
    background-attachment:fixed;
    background-size:cover;
}
.display{
    padding:10px 10px black;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
}
input{
    height: 50px; width: 338px;
    text-align: right;
    background-color: aliceblue;
    color: purple;
    font-size: 25px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button {
    border: 5px 2px black;
    height: 40px;
    width: 80px;
    outline: 40px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color:black;
    color:red;
    border-radius: 5px;
}
button:hover {
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIRrE0q1VRL9sAbZpk6bFdfCUZ9VEUSswhN9gmi-a2JB7oHs8Eh4NzviUK-DCTvlBei3g&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    font-size:25px;
}

